header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

header nav .no-static {display: none;}

header .all-content-header {
    max-width: 1450px;
    margin: auto;
}

/* header .logosm img {margin: 12% 0% 0% 18%;} */

header .all-content-header .a-sb-header p {color: white; font-size: 28px; margin: 10% 0% 0% 23%;}

header .logosm {
    float: left;
    background: #314f83;
    width: 100%;
    width: 55px;
    height:  50px;
}

header .all-content-header .a-sb-header:hover {background: #1F618D}

header .btn-menu {
    display: none;
}

header nav {
    background: #fff;
    z-index: 100000;
    width: 94.9%;
    margin:  auto;
    float: right;
    box-shadow: 0px 3px 10px rgba(0,0,0,.3);
}

header nav ul {
    list-style: none;
    margin: 0% 0%;
}

header nav ul li{
    display: inline-block;
    position: relative;
}

header nav ul li a {
    color: #3d3d3d;
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;
}

header nav ul li a:hover {color: #3D92C6;}

header nav ul li i {
    margin-right: 5px;
}

header nav #down-icon {display: none;}

header nav ul li:hover .children {
    display: block; /* DESACTIVACIÓN DE SUBMENUS EN NAV PANTALLA COMPLETA */display: none;
}

header nav ul li .children {
    display: none;
    position: absolute;
    background: #fcfcfc;
    width: 200%;
    z-index: 1000;
}

header nav ul li .children hr {height: 2px; background: #3D92C6; border: none;}

header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5)
}

header nav ul li .children a i {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}





/* POPUP */
.window {
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}

.window-led1 {
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}

.window-led2 {
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}

.window-led3 {
    width: 100%;
    height: 100%;
    color: #fff;
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    display: none;
}

.popup-container {
    width: 450px;
    height: 480px;
    overflow: scroll;
    padding: 15px;
    color: #000;
    margin: 7% auto;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(0,0,0,.5)
}

.lang-opt {height: 100%; border-left: 4px solid #00bcd1; padding-left: 10px;}

.popup-container a {display: block; background: #fff; font-weight: 600; -webkit-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease;}

.popup-container a:hover {background: #f7f7f7;}

.popup-close {
    float: right;
    font-weight: bold;
}

.popup-close .a-popup-close {padding: 10px; box-shadow: 0px 0px 0px; background: #f9f9f9;}
.popup-close .a-popup-close i {font-size: 20px;}
/* POPUP */




/* MAS-MENU */
.wrapper-mas-menu {width: 100%; background: #3D92C6; margin: 15px auto; padding: 10px;}
.items-mas-menu {width: 100%;}
.in-items-mas-menu { box-shadow: 0px 0px 10px rgba(0,0,0,.2); margin: 15px auto; width: 100%;background: #fff;}
.in-items-mas-menu a {display: block; padding: 15px; color: #3D92C6; font-size: 16px; font-weight: bold;}
.in-items-mas-menu a:hover {background: #f2f2f2;}
.in-items-mas-menu h3 {text-align: left; padding: 10; color: #912321; margin-left: 15px;}

/* FIN MAS-MENU */




/* Search box */

.btn-headersearch-menu  {
        position:fixed;
        right: 50px;
        top: 0;
        width: 50px;
        cursor: pointer;
        display: flex;
        padding: 11px;
        color: #000;
        overflow: hidden;
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;
        z-index: 11100;
        align-items: center;
        justify-content: center;
    }

.layer-headersearch {
        border-top: 3px solid #3D92C6;
        background: #fff;
        display: block;
        z-index: 1000000000000000;
        width: 80%;
        position: fixed;
        top: 49px;
        right: -100%;
        margin: 0;
        overflow-y: scroll;
        /* Descompletar toda la pagina
        height: calc(100% - 80px); */
        height: 100vh;
    }

#HeaderSearch {
    position: fixed;
    top: 0px;
    right: 11%;
    width: 280px;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,.2);
}

.header-top{
	width: 100%;
}

.navegacion{
	width: 100%;
	margin: auto;
}

input[type="search"]{
	padding: 16.4px;
	padding-right: 15px;
    margin-bottom:0;
    border: 0;
}

.search{
    position: ;
	width: 100%;
	background: #fff;
	padding:0px;
	padding-bottom: 5px;
	overflow-x: hidden;
    height: 500px;
	display: none;
    border-radius: 0px;
    z-index: 10000;
}

.search-table{
	width: 100%;
}

tbody tr td{
	width: 100%;
    padding: 0;
}

tbody tr td a{
	text-decoration: none;
	font-size: 16px;
	color: #737373;
	display: block;
	width: 1000%;
	height: 100%;
	padding: 15px 0;
	padding-left: 15px;
}

tbody tr td a:hover{
	color: #fff;
    background: #3D92C6;
}

.search::-webkit-scrollbar{ 
	background:rgba(0,0,0,0);  
}

.search::-webkit-scrollbar-button{
 	background:#C1C1C1;  
}

.search::-webkit-scrollbar-thumb{ 
	background:#C1C1C1; 
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
	display: none;
}
/* FIN */



@media screen and (max-width: 1115px) {
    header .logosm img {margin: 0; position: absolute; top: 8px; left: 9px;}
    header nav .no-responsive {display: none;}
    header nav .no-static {display: block;}
    
    
    
    
    
header nav .button-submenu {z-index: 1000; padding: 10px; color: #000; align-items: center; justify-content: center; display: inline-flex; width: 45px;}

header nav .a-button-menu-for-submenu {padding: 0; width: 0;}

header nav #down-icon {margin-right: 0; display: inline-block; font-size: 25px; color: #3D92C6}
    
    
header nav li.opentwo #down-icon {
        color: #000;
    }
    
header nav li.opentwo i.fa-angle-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
    
    
    
    
    
    
    
    
    header .btn-menu {
        position:absolute;
        right: 0;
        width: 50px;
        cursor: pointer;
        display: flex;
        padding: 11px;
        color: #000;
        overflow: hidden;
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;
        z-index: 11100;
        align-items: center;
        justify-content: center;
    }
    
    header nav {
        border-top: 3px solid #3D92C6;
        background: #fff;
        display: block;
        z-index: 1000000000000000;
        width: 80%;
        position: fixed;
        top: 49px;
        right: -100%;
        margin: 0;
        overflow-y: scroll;
        /* Descompletar toda la pagina
        height: calc(100% - 80px); */
        height: 100vh;
    }
    
    header nav ul {
    list-style: none;
    }
    
    header nav ul li {
        display: block;
        width: 100%;
    }
    
    header nav ul li:hover {
        background: #fcfcfc; color: #3D92C6;
    }
    
    header nav ul li a {z-index: 100; display: inline-block; width: 92.5%;}
    
    header nav ul li:hover .children {
        display: none;
    }
    
    header nav ul li .children  {
        width: 100%;
        position: relative;
        margin-left: 0;
    }
    
    header nav ul li .children li a {
        margin-left: 20px;
    }
    
    header nav ul li .fa-angle-down {
        margin-right: 0px;
        float: right;
    }
    
    
    #HeaderSearch {
        width: 58%;
        right: 50px;
    }
    


}


@media screen and (max-width: 1080px) {
    header nav ul li a {width:90%;}
    .popup-container {margin: 18% auto; height: auto; overflow: auto;}
}


@media screen and (max-width: 650px) {
    .popup-container {width: 95%;}
        header nav ul li a {width:85.5%;}
}


@media screen and (max-width: 460px) {
    header nav ul li a {width:80%;}
}

@media screen and (max-width: 330px) {
    header nav ul li a {width:70%;}
}
