<!Doctype html>
<html lang="es">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
		<title>Tv Información</title>
		<link rel="stylesheet" href="../../css/estilos.css" />
        <link rel="icon" type="image/png" href="../../img/app-icon.png" sizes="16x16" />
        
        <meta name="author" content="smailbook" />
        <meta name="description" content="Smailbook, informacion de tv, televisión, tecnología de últimas televisiones, noticias de tv" />
        <meta name="keywords" content="Smailbook, Informacion tv, cine, tv online, television, sipnosis de peliculas de cine, tv online, television online, television en linea, tv en linea" />
        <meta name="classification" content="Smailbook, tv online, television, tv online, televisión online, televisión en línea, tv en línea" />
        
        <?php include('../../includes/head-elements.php'); ?>
        
        
<!-- GOOGLE COMPLEMENTS -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101835135-1', 'auto');
  ga('send', 'pageview');
</script>
       
<!-- FIN GOOGLE COMPLEMENTS -->
       
       <!-- HEADER -->
       <script src="http://code.jquery.com/jquery-latest.js"></script>
       
       <!-- Submenu-Accordion-from-Body-Section Scripts -->
       <script src="../../js/jquery.min.js"></script>
        <!-- HEADER SCRIPTS -->
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script><!--
        <script src="../../js/headroom.min.js"></script>
        -->
        <?php include('../../includes/scripts-in-head.php'); ?>
        
	</head>
	
	<body>
		<header id="header">
           <?php include('../../includes/header.php'); ?>
		</header>
       
       <div class="all-body-all">        
        
        
        <div><?php include('../../includes/header-search.php'); ?></div> 
        
        
        <div><?php include('../../includes/others.php'); ?></div>
        
        
        
        <main class="main-template">
		<section>
           <div class="itinery">
                <a href="../../index.php">Inicio </a><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="../informacioncentral.php"> Informaciones </a><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="https://www.smailbook.com/templates/informaciones/tv.php"> Televisión</a>
            </div>
            
            <div class="containerinfocentral">
                <p style="font-size: 35px; text-align: center; padding-bottom: 7px;"><strong>Televisión</strong></p>
                <hr>
                <br/>
                
                
	        <div id="slider">
            <ul>
                <li><img src="../../img/imginternas/tv/tv-slider.jpg" alt="Tv-Slider"></li>
                <li><img src="../../img/imginternas/tv/tv-slider1.jpg" alt="Tv-Slider"></li>
                <li><img src="../../img/imginternas/tv/tv-slider2.jpg" alt="Tv-Slider"></li>
                <li><img src="../../img/imginternas/tv/tv-slider3.jpg" alt="Tv-Slider"></li>
            </ul>
            </div>

                    <div class="w1-all-items">
                    
                    
                        <ul id="accordion-box" class="accordion-box">
                           <li>
                               <div class="link-box"><i class="fa fa-tv" aria-hidden="true"></i>¿Qué saber de la televisión? <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                   <ul class="submenu-accordion-from-body-section-box">
                                       <div class="box-submenu-accordion">
                                           <h3>Todo sobre la televisión</h3>
                                           <p><strong>¿Qué se puede saber sobre la televisión en la actualidad?</strong></p>
                                           <p>Un aparato eléctronico que existe desde hace más de 60 años sigue siendo uno de los elementos más importantes de los avances tecnológicos.</p>
                                           <p>Sin duda, nos ayuda a visualizar programas, ver dibujos "animados", ver las noticias en directo. En total, nos ayuda a visualizar muchos canales que son vías para poder sostener el "ocio" o la "información" que desean los televidentes transmitir.</p>
                                           <p>La televisi&oacute;n es uno de los medios de comunicaci&oacute;n m&aacute;s importantes que ha existido y esto es as&iacute; debido a que gracias a su gratuidad como tambi&eacute;n a su f&aacute;cil acceso permite que millones de personas de todo el mundo puedan recurrir a &eacute;l inmediata y f&aacute;cilmente. La televisi&oacute;n es en muchos casos criticada por considerarse que ha reemplazado el inter&eacute;s de las personas por otras formas de comunicaci&oacute;n que pueden requerir m&aacute;s tiempo, que pueden parecer m&aacute;s aburridas o m&aacute;s lentas, etc. Sin embargo, la televisi&oacute;n permanece a&uacute;n hoy en d&iacute;a (con el gran desarrollo de internet) como un medio de comunicaci&oacute;n mundialmente accesible y cuya importancia radica en el hecho de que permite conocer noticias, entretiene y utiliza lenguajes accesibles para miles de personas en todas partes.</p>
                                       </div>
                                    </ul>
                           </li>
                        </ul>
                        
                    <br/>
                    <br/>
                    
                    
                    
        
                        <ul id="accordion" class="accordion">
                           <li>
                               <div class="link"><i class="fa fa-external-link" aria-hidden="true"></i>Televisión por websites <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                   <ul class="submenu-accordion-from-body-section">
                                       <li><a href="http://www.smailbook.com/templates/informaciones/colombia/caracoltv.php">Sb Colombia | Caracol Tv</a></li>
                                       <li><a href="http://www.smailbook.com/templates/informaciones/colombia/rcntv.php">Sb Colombia | Rcn Tv</a></li>
                                       <li><a href="">sdsads</a></li>
                                       <li><a href="">sadsaddsa</a></li>
                                    </ul>
                           </li>
                           
                           
                           <li>
                               <div class="link"><i class="fa fa-external-link" aria-hidden="true"></i>Cine en TV <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                   <ul class="submenu-accordion-from-body-section">
                                       <li><a href="tv/netflix/netflix.php">Netflix</a></li>
                                       <li><a href="">Wuaki</a></li>
                                       <li><a href="">.</a></li>
                                       <li><a href="">.</a></li>
                                    </ul>
                           </li>
                           
                           <li>
                               <div class="link"><i class="fa fa-external-link" aria-hidden="true"></i>. <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                   <ul class="submenu-accordion-from-body-section">
                                       <li><a href="">Holasjdksk</a></li>
                                       <li><a href="">jsikmkldklsm</a></li>
                                       <li><a href="">ksmdlsdm</a></li>
                                       <li><a href="">lksmdkls</a></li>
                                    </ul>
                           </li>
                           
                           <li>
                               <div class="link"><i class="fa fa-external-link" aria-hidden="true"></i>Otros temas <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                   <ul class="submenu-accordion-from-body-section">
                                       <li><a href="">lkdnmsajnd</a></li>
                                       <li><a href="">kjlsndsd</a></li>
                                       <li><a href="">jsmasm,</a></li>
                                       <li><a href="">snksadn</a></li>
                                    </ul>
                           </li>
                       </ul>
                       
                       
        <div class="box-down-accordion-menu">
            <?php include('../../includes/box-down-submenu-accordion.php'); ?>
        </div>
                       
                       
                 
                    </div>    
                          
                </div>
                
                
        <div class="aside-show-for-responsive-design">
            <?php include('../../includes/aside-responsive-template.php'); ?>
        </div>
                
        <div class="paginacion-relation">
			<ul>
			    <h3>Relacionado:</h3>
				<li><a href="pagina1.html" class="active">-</a></li>
				<li><a href="pagina2.html">-</a></li>
				<li><a href="pagina3.html">-</a></li>
				<li><a href="pagina4.html">-</a></li>
				<li><a href="pagina5.html">-</a></li>
			</ul>
		</div> 
        
                    
<div id="wpac-comment"></div>
<script type="text/javascript">
wpac_init = window.wpac_init || [];
wpac_init.push({widget: 'Comment', id: 7586});
(function() {
    if ('WIDGETPACK_LOADED' in window) return;
    WIDGETPACK_LOADED = true;
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = 'https://embed.widgetpack.com/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>
<a href="https://widgetpack.com" class="wpac-cr"></a>
                
                
                
        <div><?php include('../../includes/pr-mas-fr.php'); ?></div>
                

                
                
         </section>
         
        
           <div><?php include('../../includes/aside-template.php'); ?></div> 
            
            
            
        
        <footer>
            <div> <?php include('../../includes/footer.php'); ?> </div>
        </footer>
        </main>
        
        </div>
        
        <script src="../../js/menu.js"></script>
        <script src="../../js/submenu-accordion-from-body-section.js"></script>
        <?php include('../../includes/scripts-body-bottom.php'); ?>
        <script src="../../js/buscador.js"></script>
        <!-- SLIDER SCRIPTS -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../../js/jquery.slides.js"></script>
    <script>
    $(function(){
  $(".slides").slidesjs({
    play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "fade",
        // [string] Can be either "slide" or "fade".
      interval: 6000,
        // [number] Time spent on each slide in milliseconds.
      auto: true,
        // [boolean] Start playing the slideshow on load.
      swap: true,
        // [boolean] show/hide stop and play buttons
      pauseOnHover: false,
        // [boolean] pause a playing slideshow on hover
      restartDelay: 2500
        // [number] restart delay on inactive slideshow
    }
  });
});
    </script>
        
	</body>
</html>